<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <meta charset="utf-8">
        <title> AFFINITI </title>
        <meta name="description" content="">
        <meta name="author" content="">

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <!-- Basic Styles -->
        <!--<spring:url value="/resources/core/css/bootstrap.min.css" var="bootstrapCss" />-->
        <link href="E:/AVN_PROJECTS/TO_2017/GIT/AFFINITI_EPIC_TKT_WEB_2017_05_31/AFFINITI_EPIC_TKT_WEB/src/main/webapp/resources/core/css/bootstrap.min.css" rel="stylesheet" />

        <!--<spring:url value="/resources/core/css/font-awesome.min.css" var="font" />-->
        <link href="E:/AVN_PROJECTS/TO_2017/GIT/AFFINITI_EPIC_TKT_WEB_2017_05_31/AFFINITI_EPIC_TKT_WEB/src/main/webapp/resources/core/css/font-awesome.min.css" rel="stylesheet" />

        <!--<spring:url value="/resources/core/css/smartadmin-production.min.css" var="production" />-->
        <link href="E:/AVN_PROJECTS/TO_2017/GIT/AFFINITI_EPIC_TKT_WEB_2017_05_31/AFFINITI_EPIC_TKT_WEB/src/main/webapp/resources/core/" rel="stylesheet" />

        <!--<spring:url value="/resources/core/css/bootstrap-datetimepicker.css" var="datetimepicker" />-->
        <link href="E:/AVN_PROJECTS/TO_2017/GIT/AFFINITI_EPIC_TKT_WEB_2017_05_31/AFFINITI_EPIC_TKT_WEB/src/main/webapp/resources/core/css/bootstrap-datetimepicker.css" rel="stylesheet" />

        <!--<spring:url value="/resources/core/css/bootstrap-timepicker.min.css" var="timepic" />-->
        <link href="E:/AVN_PROJECTS/TO_2017/GIT/AFFINITI_EPIC_TKT_WEB_2017_05_31/AFFINITI_EPIC_TKT_WEB/src/main/webapp/resources/core/css/bootstrap-timepicker.min.css" rel="stylesheet" />

        <!--<spring:url value="/resources/core/css/style.css" var="style" />-->
        <link href="E:/AVN_PROJECTS/TO_2017/GIT/AFFINITI_EPIC_TKT_WEB_2017_05_31/AFFINITI_EPIC_TKT_WEB/src/main/webapp/resources/core/css/style.css" rel="stylesheet" />

        <!--<spring:url value="/resources/core/css/your_style.css" var="yourStyle" />-->
        <link href="E:/AVN_PROJECTS/TO_2017/GIT/AFFINITI_EPIC_TKT_WEB_2017_05_31/AFFINITI_EPIC_TKT_WEB/src/main/webapp/resources/core/css/your_style.css" rel="stylesheet" />

        <!--<spring:url value="/resources/img/favicon.ico" var="icon" />-->
        <link href="E:/AVN_PROJECTS/TO_2017/GIT/AFFINITI_EPIC_TKT_WEB_2017_05_31/AFFINITI_EPIC_TKT_WEB/src/main/webapp/resources/img/favicon.ico" rel="image/x-icon" />

        <link rel="icon" href="E:/AVN_PROJECTS/TO_2017/GIT/AFFINITI_EPIC_TKT_WEB_2017_05_31/AFFINITI_EPIC_TKT_WEB/src/main/webapp/resources/img/favicon.ico" type="image/x-icon"/>
        <link rel="shortcut icon" href="E:/AVN_PROJECTS/TO_2017/GIT/AFFINITI_EPIC_TKT_WEB_2017_05_31/AFFINITI_EPIC_TKT_WEB/src/main/webapp/resources/img/favicon.ico" type="image/x-icon"/>

        <!--<spring:url value="/resources/core/css/chartist.min.css" var="chartistcss" />-->
        <link href="E:/AVN_PROJECTS/TO_2017/GIT/AFFINITI_EPIC_TKT_WEB_2017_05_31/AFFINITI_EPIC_TKT_WEB/src/main/webapp/resources/core/css/chartist.min.css" rel="stylesheet" />

        <!--<spring:url value="/resources/core/css/jquery-ui.css" var="jqueryui" />-->
        <link href="E:/AVN_PROJECTS/TO_2017/GIT/AFFINITI_EPIC_TKT_WEB_2017_05_31/AFFINITI_EPIC_TKT_WEB/src/main/webapp/resources/core/css/jquery-ui.css" rel="stylesheet" />

        <!--<spring:url value="/resources/core/css/fullcalendar.css" var="calendercss" />-->
        <link href="E:/AVN_PROJECTS/TO_2017/GIT/AFFINITI_EPIC_TKT_WEB_2017_05_31/AFFINITI_EPIC_TKT_WEB/src/main/webapp/resources/core/css/fullcalendar.css" rel="stylesheet" />

        <!--<spring:url value="/resources/core/css/chosen.min.css" var="chosencss" />-->
        <link href="E:/AVN_PROJECTS/TO_2017/GIT/AFFINITI_EPIC_TKT_WEB_2017_05_31/AFFINITI_EPIC_TKT_WEB/src/main/webapp/resources/core/css/chosen.min.css" rel="stylesheet" />

        <!--<spring:url value="/resources/core/css/prism.css" var="prismcss" />-->
        <link href="E:/AVN_PROJECTS/TO_2017/GIT/AFFINITI_EPIC_TKT_WEB_2017_05_31/AFFINITI_EPIC_TKT_WEB/src/main/webapp/resources/core/css/prism.css" rel="stylesheet" />

        <!--<%--<spring:url value="/resources/core/css/select2.min.css" var="select2css" />--%>-->
        <!--<link href="${select2css}" rel="stylesheet" />-->

        <!--<spring:url value="/resources/core/css/fullcalendar.print.css" var="calenderprint" />-->
        <link href="E:/AVN_PROJECTS/TO_2017/GIT/AFFINITI_EPIC_TKT_WEB_2017_05_31/AFFINITI_EPIC_TKT_WEB/src/main/webapp/resources/core/css/fullcalendar.print.css" rel="stylesheet" media='print' />


    </head>
    <body>
        <!-- HEADER -->
        <header id="header">			
            <!--<jsp:include page="../template/header.jsp"/>-->
        </header>
        <!-- END HEADER -->

        <aside id="left-panel">
            <!--<jsp:include page="../template/menu.jsp"/>-->
        </aside>
        <!-- END NAVIGATION -->

        <!-- MAIN PANEL -->
        <div id="main" role="main">
            <!--<jsp:include page="../template/ribbon.jsp"/>-->
            <!-- MAIN CONTENT -->
            <div id="content">
                <div class="row">
                    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
                        <h1 class="page-title txt-color-blueDark">
                            <i class="fa fa-edit fa-fw "></i>
                            Create   
                        </h1>
                        <span></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-offset-1 col-xs-10">
                        <div class="smart-form">
                            <div class="row" style="padding-bottom: 30px;">
                                <div class="col-xs-12">
                                    <header><h4>Ticket Info</h4></header>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-offset-2 col-xs-8" style="padding-bottom: 100px;">
                    <form name="ticketForm" class="smart-form">
                        <div class="row">
                            <div class="col-xs-5">
                                <section>
                                    <label class="label">Ticket Date</label>
                                    <label class="input">
                                        <i class="icon-append fa fa-calendar"></i>
                                        <input id="ticketdate" class="input-sm" readonly="readonly"/>
                                    </label>
                                </section>
                            </div>
                            <div class="col-xs-5 pull-right">
                                <section>
                                    <label class="label">Ticket Priority</label>
                                    <label class="select">
                                        <select id="ticketpriority" class="input-sm"></select>
                                        <i></i>
                                    </label>
                                </section>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-5">
                                <section>
                                    <label class="label">Product</label>
                                    <label class="select">
                                        <select id="product" class="input-sm"></select>
                                        <i></i>
                                    </label>
                                </section>
                            </div>
                            <div class="col-xs-5 pull-right">
                                <section>
                                    <label class="label">Product Category</label>
                                    <label class="select">
                                        <select id="productcategory" class="input-sm"></select>
                                        <i></i>
                                    </label>
                                </section>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-5">
                                <section>
                                    <label class="label">Territory</label>
                                    <label class="select">
                                        <select id="territory" class="input-sm"></select>
                                        <i></i>
                                    </label>
                                </section>
                            </div>
                            <div class="col-xs-5 pull-right">
                                <section>
                                    <label class="label">Ticket Category</label>
                                    <label class="select">
                                        <select id="ticketcategory" class="input-sm"></select>
                                        <i></i>
                                    </label>
                                </section>
                            </div>
                        </div>
                        <div id="dynamiccontent">
                            <div class="row">
                                <div class="col-xs-offset-1 col-xs-10">
                                    <div class="row" style="padding-bottom: 30px;">
                                        <div class="col-xs-12">
                                            <header><h4>Terminal Information</h4></header>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <input id="statusid" name="statusid" type="hidden" />
                            <div class="row">
                                <div class="col-xs-5">
                                    <section>
                                        <label class="label">TID</label>
                                        <label class="input">
                                            <input id="tid" class="input-sm" name="tid" type="text" placeholder="TID" />
                                        </label>
                                    </section>
                                </div>
                                <div class="col-xs-5 pull-right">
                                    <section>
                                        <label class="label">MID</label> 
                                        <label class="input"> 
                                            <input id="mid" class="input-sm" name="mid" type="text" placeholder="MID" /> 
                                        </label>
                                    </section>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5">
                                    <section>
                                        <label class="label">Terminal Serial No</label> 
                                        <label class="input"> 
                                            <input id="terminalserialno" class="input-sm" name="terminalserialno" type="text" placeholder="Terminal Serial No" /> 
                                        </label>
                                    </section>
                                </div>
                                <div class="col-xs-5 pull-right">
                                    <section>
                                        <label class="label">Terminal Brand</label> 
                                        <label class="input"> 
                                            <input id="terminalbrnad" class="input-sm" name="terminalbrnad" type="text" placeholder="Terminal Brand"/> 
                                        </label>
                                    </section>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5">
                                    <section>
                                        <label class="label">Terminal Model</label> 
                                        <label class="select">
                                            <select id="terminalmodel" class="input-sm" name="terminalmodel"></select>
                                        </label>
                                    </section>
                                </div>
                                <div class="col-xs-5 pull-right">
                                    <section>
                                        <label class="label">Warranty Expiry / Status</label> 
                                        <label class="input">
                                            <input id="warrantyexpirystatus" class="input-sm" name="warrantyexpirystatus" type="text" placeholder="Warranty Expiry / Status" />
                                        </label>
                                    </section>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5">
                                    <section>
                                        <label class="label">AMC Expiry / Status</label> 
                                        <label class="input">
                                            <input id="amcexpirystatus" class="input-sm" name="amcexpirystatus" type="text" placeholder="AMC Expiry / Status" />
                                        </label>
                                    </section>
                                </div>
                                <div class="col-xs-5 pull-right">
                                    <section>
                                        <label class="label">Lot No</label> 
                                        <label class="input">
                                            <input id="lotno" class="input-sm" name="lotno" type="text" placeholder="Lot No" />
                                        </label>
                                    </section>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5">
                                    <section>
                                        <label class="label">Part No</label> 
                                        <label class="input">
                                            <input id="partno" class="input-sm" name="partno" type="text" placeholder="Part No" />
                                        </label>
                                    </section>
                                </div>
                                <div class="col-xs-5 pull-right">
                                    <section>
                                        <label class="label">Revision</label> 
                                        <label class="input">
                                            <input id="revision" class="input-sm" name="revision" type="text" placeholder="Revision" />
                                        </label>
                                    </section>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5">
                                    <section>
                                        <label class="label">MAC</label> 
                                        <label class="input">
                                            <input id="mac" class="input-sm" name="mac" type="text" placeholder="MAC" />
                                        </label>
                                    </section>
                                </div>
                                <div class="col-xs-5 pull-right">
                                    <section>
                                        <label class="label">PTID</label> 
                                        <label class="input">
                                            <input id="ptid" class="input-sm" name="ptid" type="text" placeholder="PTID" />
                                        </label>
                                    </section>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-offset-1 col-xs-10">
                                    <div class="row" style="padding-bottom: 30px;">
                                        <div class="col-xs-12">
                                            <header><h4>Fault information</h4></header>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <!-- New Content -->
                                <div class="col-xs-5 pull-right">
                                    <section>
                                        <label class="label">Nature of Fault</label> 
                                        <label class="select">
                                            <select id="natureoffault" class="input-sm" name="natureoffault"></select>
                                        </label>
                                    </section>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5">
                                    <section>
                                        <label class="label">Action to be Taken</label> 
                                        <label class="select">
                                            <select id="actiontobetaken" class="input-sm" name="actiontobetaken"></select>
                                        </label>
                                    </section>
                                </div>
                                <div class="col-xs-5 pull-right">
                                    <section>
                                        <label class="label">Telephone Number</label> 
                                        <label class="input"> 
                                            <input id="telephonenumber" class="input-sm" type="text" placeholder="Telephone Number" /> 
                                        </label>
                                    </section>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5">
                                    <section>
                                        <label class="label">Contact Person</label> 
                                        <label class="input"> 
                                            <input id="contactperson" class="input-sm" type="text" placeholder="Contact Person" /> 
                                        </label>
                                    </section>
                                </div>
                                <div class="col-xs-5 pull-right">
                                    <section>
                                        <label class="label">District</label> 
                                        <label class="select"><select id="district" class="input-sm" name="district"></select>
                                        </label>
                                    </section>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5">
                                    <section>
                                        <label class="label">Status</label> 
                                        <label class="select">
                                            <select id="status" class="input-sm" name="status"></select>
                                        </label>
                                    </section>
                                </div>
                                <div class="col-xs-5 pull-right">
                                    <section>
                                        <label class="label">Reported by</label> 
                                        <label class="select"><select id="reportedby" class="input-sm" name="reportedby"></select>
                                        </label>
                                    </section>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <a id="save" class="pull-right btn btn-success btn-sm" href="javascript:void(0);"><i class="fa fa-save" style="padding-right: 10px;"></i>Save</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- END MAIN CONTENT -->
        </div>
        <!-- END MAIN PANEL -->

        <!-- PAGE FOOTER -->
        <div class="page-footer">
            <!--<jsp:include page="../template/footer.jsp"/>-->
        </div>

        <!--<spring:url value="/resources/core/js/jquery-2.0.2.min.js" var="jquery2" />-->
        <script src="E:/AVN_PROJECTS/TO_2017/GIT/AFFINITI_EPIC_TKT_WEB_2017_05_31/AFFINITI_EPIC_TKT_WEB/src/main/webapp/resources/core/js/jquery-2.0.2.min.js"></script>

        <!--<spring:url value="/resources/core/js/jquery-ui-1.10.3.min.js" var="jqueryui" />-->
        <script src="E:/AVN_PROJECTS/TO_2017/GIT/AFFINITI_EPIC_TKT_WEB_2017_05_31/AFFINITI_EPIC_TKT_WEB/src/main/webapp/resources/core/js/jquery-ui-1.10.3.min.js"></script>

        <!--<spring:url value="/resources/core/js/app.config.js" var="appconfig" />-->
        <script src="E:/AVN_PROJECTS/TO_2017/GIT/AFFINITI_EPIC_TKT_WEB_2017_05_31/AFFINITI_EPIC_TKT_WEB/src/main/webapp/resources/core/js/app.config.js"></script>

        <!--<spring:url value="/resources/core/js/app.min.js" var="appmin" />-->
        <script src="E:/AVN_PROJECTS/TO_2017/GIT/AFFINITI_EPIC_TKT_WEB_2017_05_31/AFFINITI_EPIC_TKT_WEB/src/main/webapp/resources/core/js/app.min.js"></script>

        <!--<spring:url value="/resources/core/js/bootstrap.min.js" var="bootstrap" />-->
        <script src="E:/AVN_PROJECTS/TO_2017/GIT/AFFINITI_EPIC_TKT_WEB_2017_05_31/AFFINITI_EPIC_TKT_WEB/src/main/webapp/resources/core/js/bootstrap.min.js"></script>

        <!--<spring:url value="/resources/core/js/bootstrap-datetimepicker.js" var="datetimepicker" />-->
        <script src="E:/AVN_PROJECTS/TO_2017/GIT/AFFINITI_EPIC_TKT_WEB_2017_05_31/AFFINITI_EPIC_TKT_WEB/src/main/webapp/resources/core/js/bootstrap-datetimepicker.js"></script>

        <!-- PAGE RELATED PLUGIN(S) -->

        <!--<c:choose>
            <c:when test="${MAP=='HP'}">
                <spring:url value="/resources/core/js/datatables/jquery.dataTables.min_Dashboard.js" var="dataTables" />
                <script src="${dataTables}"></script>
            </c:when>
            <c:otherwise>
                <spring:url value="/resources/core/js/datatables/jquery.dataTables.min.js" var="dataTables" />
                <script src="${dataTables}"></script>
            </c:otherwise>
        </c:choose>-->

        <!--<spring:url value="/resources/core/js/datatables/dataTables.colVis.min.js" var="colVis" />-->
        <!--<script src="E:/AVN_PROJECTS/TO_2017/GIT/AFFINITI_EPIC_TKT_WEB_2017_05_31/AFFINITI_EPIC_TKT_WEB/src/main/webapp/resources/core/js/dataTables.colVis.min.js"></script>-->

        <!--<spring:url value="/resources/core/js/datatables/dataTables.tableTools.min.js" var="tableTools" />-->
        <!--<script src="E:/AVN_PROJECTS/TO_2017/GIT/AFFINITI_EPIC_TKT_WEB_2017_05_31/AFFINITI_EPIC_TKT_WEB/src/main/webapp/resources/core/js/dataTables.tableTools.min.js"></script>-->

        <!--<spring:url value="/resources/core/js/datatables/dataTables.bootstrap.min.js" var="dataTablesbootstrap" />-->
        <!--<script src="E:/AVN_PROJECTS/TO_2017/GIT/AFFINITI_EPIC_TKT_WEB_2017_05_31/AFFINITI_EPIC_TKT_WEB/src/main/webapp/resources/core/js/dataTables.bootstrap.min.js"></script>-->

        <!--<spring:url value="/resources/core/js/datatable-responsive/datatables.responsive.min.js" var="datatablesresponsive" />-->
        <!--<script src="E:/AVN_PROJECTS/TO_2017/GIT/AFFINITI_EPIC_TKT_WEB_2017_05_31/AFFINITI_EPIC_TKT_WEB/src/main/webapp/resources/core/js/datatables.responsive.min.js"></script>-->

        <!--<spring:url value="/resources/core/js/jquery.validate.min.js" var="jqueryvalidation" />-->
        <script src="E:/AVN_PROJECTS/TO_2017/GIT/AFFINITI_EPIC_TKT_WEB_2017_05_31/AFFINITI_EPIC_TKT_WEB/src/main/webapp/resources/core/js/jquery.validate.min.js"></script>

        <!--<spring:url value="/resources/core/js/jquery.tabletojson.min.js" var="tableToJson" />-->
        <script src="E:/AVN_PROJECTS/TO_2017/GIT/AFFINITI_EPIC_TKT_WEB_2017_05_31/AFFINITI_EPIC_TKT_WEB/src/main/webapp/resources/core/js/jquery.tabletojson.min.js"></script>

        <!--<spring:url value="/resources/core/js/jquery.blockUI.js" var="blockingui" />-->
        <script src="E:/AVN_PROJECTS/TO_2017/GIT/AFFINITI_EPIC_TKT_WEB_2017_05_31/AFFINITI_EPIC_TKT_WEB/src/main/webapp/resources/core/js/jquery.blockUI.js"></script>

        <!--<spring:url value="/resources/core/js/ajaxcall.loading.js" var="ajaxcallloading" />-->
        <script src="E:/AVN_PROJECTS/TO_2017/GIT/AFFINITI_EPIC_TKT_WEB_2017_05_31/AFFINITI_EPIC_TKT_WEB/src/main/webapp/resources/core/js/ajaxcall.loading.js"></script>

        <!--<spring:url value="/resources/core/js/jquery.cookie.js" var="cookiejs" />-->
        <script src="E:/AVN_PROJECTS/TO_2017/GIT/AFFINITI_EPIC_TKT_WEB_2017_05_31/AFFINITI_EPIC_TKT_WEB/src/main/webapp/resources/core/js/jquery.cookie.js"></script>

        <!--<spring:url value="/resources/core/js/SmartNotification.min.js" var="smartnotification" />-->
        <script src="E:/AVN_PROJECTS/TO_2017/GIT/AFFINITI_EPIC_TKT_WEB_2017_05_31/AFFINITI_EPIC_TKT_WEB/src/main/webapp/resources/core/js/SmartNotification.min.js"></script>

        <!--<spring:url value="/resources/core/js/logout.js" var="logout" />-->
        <script src="E:/AVN_PROJECTS/TO_2017/GIT/AFFINITI_EPIC_TKT_WEB_2017_05_31/AFFINITI_EPIC_TKT_WEB/src/main/webapp/resources/core/js/logout.js"></script> 

        <!--<spring:url value="/resources/core/js/RemindNotification.js" var="RemindNotification" />-->
        <script src="E:/AVN_PROJECTS/TO_2017/GIT/AFFINITI_EPIC_TKT_WEB_2017_05_31/AFFINITI_EPIC_TKT_WEB/src/main/webapp/resources/core/js/RemindNotification.js"></script> 


        <!-- Morris Chart Dependencies -->

        <!--<spring:url value="/resources/core/js/raphael.min.js" var="raphael" />-->
        <script src="E:/AVN_PROJECTS/TO_2017/GIT/AFFINITI_EPIC_TKT_WEB_2017_05_31/AFFINITI_EPIC_TKT_WEB/src/main/webapp/resources/core/js/raphael.min.js"></script>

        <!--<spring:url value="/resources/core/js/morris.min.js" var="morris" />-->
        <script src="E:/AVN_PROJECTS/TO_2017/GIT/AFFINITI_EPIC_TKT_WEB_2017_05_31/AFFINITI_EPIC_TKT_WEB/src/main/webapp/resources/core/js/morris.min.js"></script>

        <!--<spring:url value="/resources/core/js/Chart.js" var="Chart" />-->
        <script src="E:/AVN_PROJECTS/TO_2017/GIT/AFFINITI_EPIC_TKT_WEB_2017_05_31/AFFINITI_EPIC_TKT_WEB/src/main/webapp/resources/core/js/Chart.js"></script>

        <!--<spring:url value="/resources/core/js/jquery.easy-pie-chart.min.js" var="piechart" />-->
        <script src="E:/AVN_PROJECTS/TO_2017/GIT/AFFINITI_EPIC_TKT_WEB_2017_05_31/AFFINITI_EPIC_TKT_WEB/src/main/webapp/resources/core/js/jquery.easy-pie-chart.min.js"></script>

        <!--<spring:url value="/resources/core/js/flot/jquery.flot.cust.min.js" var="cust" />-->
        <script src="E:/AVN_PROJECTS/TO_2017/GIT/AFFINITI_EPIC_TKT_WEB_2017_05_31/AFFINITI_EPIC_TKT_WEB/src/main/webapp/resources/core/js/jquery.flot.cust.min.js"></script>

        <!--<spring:url value="/resources/core/js/flot/jquery.flot.fillbetween.min.js" var="fillbetween" />-->
        <script src="E:/AVN_PROJECTS/TO_2017/GIT/AFFINITI_EPIC_TKT_WEB_2017_05_31/AFFINITI_EPIC_TKT_WEB/src/main/webapp/resources/core/js/jquery.flot.fillbetween.min.js"></script>

        <!--<spring:url value="/resources/core/js/flot/jquery.flot.orderBar.min.js" var="orderBar" />-->
        <script src="E:/AVN_PROJECTS/TO_2017/GIT/AFFINITI_EPIC_TKT_WEB_2017_05_31/AFFINITI_EPIC_TKT_WEB/src/main/webapp/resources/core/js/jquery.flot.orderBar.min.js"></script>

        <!--<spring:url value="/resources/core/js/flot/jquery.flot.pie.min.js" var="pie" />-->
        <script src="E:/AVN_PROJECTS/TO_2017/GIT/AFFINITI_EPIC_TKT_WEB_2017_05_31/AFFINITI_EPIC_TKT_WEB/src/main/webapp/resources/core/js/jquery.flot.pie.min.js"></script>

        <!--<spring:url value="/resources/core/js/flot/jquery.flot.resize.min.js" var="resize" />-->
        <script src="E:/AVN_PROJECTS/TO_2017/GIT/AFFINITI_EPIC_TKT_WEB_2017_05_31/AFFINITI_EPIC_TKT_WEB/src/main/webapp/resources/core/js/jquery.flot.resize.min.js"></script>

        <!--<spring:url value="/resources/core/js/flot/jquery.flot.tooltip.min.js" var="tooltip" />-->
        <script src="E:/AVN_PROJECTS/TO_2017/GIT/AFFINITI_EPIC_TKT_WEB_2017_05_31/AFFINITI_EPIC_TKT_WEB/src/main/webapp/resources/core/js/jquery.flot.tooltip.min.js"></script>

        <!--<spring:url value="/resources/core/js/bootstrap-timepicker.min.js" var="timepic" />-->
        <script src="E:/AVN_PROJECTS/TO_2017/GIT/AFFINITI_EPIC_TKT_WEB_2017_05_31/AFFINITI_EPIC_TKT_WEB/src/main/webapp/resources/core/js/bootstrap-timepicker.min.js"></script>

        <!--<spring:url value="/resources/core/js/common.js" var="common" />-->
        <script src="E:/AVN_PROJECTS/TO_2017/GIT/AFFINITI_EPIC_TKT_WEB_2017_05_31/AFFINITI_EPIC_TKT_WEB/src/main/webapp/resources/core/js/common.js"></script>

        <!--<spring:url value="/resources/core/js/jarvis.widget.min.js" var="jarvis" />-->
        <script src="E:/AVN_PROJECTS/TO_2017/GIT/AFFINITI_EPIC_TKT_WEB_2017_05_31/AFFINITI_EPIC_TKT_WEB/src/main/webapp/resources/core/js/jarvis.widget.min.js"></script>

        <!--<spring:url value="/resources/core/js/chartist.min.js" var="chartistjs" />-->
        <script src="E:/AVN_PROJECTS/TO_2017/GIT/AFFINITI_EPIC_TKT_WEB_2017_05_31/AFFINITI_EPIC_TKT_WEB/src/main/webapp/resources/core/js/chartist.min.js"></script>

        <!--<spring:url value="/resources/core/js/jquery.fileDownload.js" var="filedownload" />-->
        <script src="E:/AVN_PROJECTS/TO_2017/GIT/AFFINITI_EPIC_TKT_WEB_2017_05_31/AFFINITI_EPIC_TKT_WEB/src/main/webapp/resources/core/js/jquery.fileDownload.js"></script>

        <!--<spring:url value="/resources/core/js/jquery.bootstrap.wizard.min.js" var="bootstrapwizard" />-->
        <script src="E:/AVN_PROJECTS/TO_2017/GIT/AFFINITI_EPIC_TKT_WEB_2017_05_31/AFFINITI_EPIC_TKT_WEB/src/main/webapp/resources/core/js/jquery.bootstrap.wizard.min.js"></script>

        <!--<spring:url value="/resources/core/js/jquery.number.min.js" var="numberformater" />-->
        <script src="E:/AVN_PROJECTS/TO_2017/GIT/AFFINITI_EPIC_TKT_WEB_2017_05_31/AFFINITI_EPIC_TKT_WEB/src/main/webapp/resources/core/js/jquery.number.min.js"></script>

        <!--<spring:url value="/resources/core/js/chosen.jquery.min.js" var="chosenjs" />-->
        <script src="E:/AVN_PROJECTS/TO_2017/GIT/AFFINITI_EPIC_TKT_WEB_2017_05_31/AFFINITI_EPIC_TKT_WEB/src/main/webapp/resources/core/js/chosen.jquery.min.js"></script>

        <!--<spring:url value="/resources/core/js/prism.js" var="prismjs" />-->
        <script src="E:/AVN_PROJECTS/TO_2017/GIT/AFFINITI_EPIC_TKT_WEB_2017_05_31/AFFINITI_EPIC_TKT_WEB/src/main/webapp/resources/core/js/prism.js"></script>

        <!--<spring:url value="/resources/core/js/select2.min.js" var="select2js" />-->
        <script src="E:/AVN_PROJECTS/TO_2017/GIT/AFFINITI_EPIC_TKT_WEB_2017_05_31/AFFINITI_EPIC_TKT_WEB/src/main/webapp/resources/core/js/select2.min.js"></script>
    </body>
</html>
